*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#fff8f8;
color:#555;
overflow-x:hidden;
}

section{
padding:80px 20px;
}

h1,h2{
font-family:'Dancing Script',cursive;
}

.opening{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ffe4ec,#fff6ef);
}

.opening-card{
background:white;
padding:50px;
border-radius:30px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.opening-card h1{
font-size:4rem;
}

button{
padding:15px 30px;
border:none;
border-radius:30px;
background:#ff8fb1;
color:white;
cursor:pointer;
margin-top:20px;
}

.hero{
text-align:center;
}

.hero img{
width:300px;
height:300px;
border-radius:50%;
object-fit:cover;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.hero h1{
font-size:4rem;
margin-top:20px;
}

.timeline{
max-width:800px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

.item{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.scrapbook h2,
.story h2,
.reasons h2,
.letter h2{
text-align:center;
margin-bottom:40px;
font-size:3rem;
}

.photos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
}

.photo{
width:260px;
background:white;
padding:12px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.photo img{
width:100%;
border-radius:10px;
}

.photo span{
display:block;
text-align:center;
margin-top:10px;
}

.rotate-left{
transform:rotate(-3deg);
}

.rotate-right{
transform:rotate(3deg);
}

#reasonContainer{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
max-width:1000px;
margin:auto;
}

.reason-card{
background:white;
padding:20px;
border-radius:20px;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.ending{
text-align:center;
background:#ffe8ef;
}

#hugResult{
margin-top:20px;
font-size:2rem;
}

@media(max-width:768px){

.hero img{
width:220px;
height:220px;
}

.hero h1{
font-size:2.5rem;
}

.opening-card h1{
font-size:2.8rem;
}

}

.envelope-wrapper{
display:flex;
justify-content:center;
margin-top:40px;
margin-bottom:30px;
}

.envelope{
position:relative;
width:300px;
height:200px;
cursor:pointer;
perspective:1000px;
}

.body{
position:absolute;
bottom:0;
left:0;

width:300px;
height:180px;

background:#ffd4e5;
border-radius:10px;
overflow:hidden;
}

.body::before{
content:"";
position:absolute;
top:0;
left:0;

width:0;
height:0;

border-left:150px solid transparent;
border-right:150px solid transparent;
border-bottom:90px solid #ffb2cc;
}

.flap{
position:absolute;
top:-10px;
left:0;

width:0;
height:0;

border-left:150px solid transparent;
border-right:150px solid transparent;
border-bottom:100px solid #ffb8d2;

transform-origin:top center;
transition:1s;
z-index:3;
}

.heart{
position:absolute;
top:60px;
left:50%;
transform:translateX(-50%);
font-size:2rem;
z-index:4;
}

.envelope.open .flap{
transform:rotateX(180deg);
}

.letter-content{
max-width:800px;
margin:0 auto;
background:white;
padding:30px;
border-radius:20px;
line-height:2;
box-shadow:0 10px 25px rgba(0,0,0,.08);

opacity:0;
transform:translateY(50px);

max-height:0;
overflow:hidden;

transition:all 1s ease;
}

.letter-content.show{
opacity:1;
transform:translateY(0);

max-height:1200px;
margin-top:30px;
}

.photos{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:40px;
padding:20px;
}

.photo{
background:white;
padding:12px;
border-radius:12px;
position:relative;
transition:.3s;
}

.photo:hover{
transform:scale(1.08);
}

.photo::before{
content:"";
width:70px;
height:18px;
background:#fff0a5;
position:absolute;
top:-10px;
left:50%;
transform:translateX(-50%) rotate(-3deg);
}
